header {
    height: 3vh;
    font-size: medium;
}
body {
    margin: 0;
    padding: 0;
    height: 90vh;
    background-color: #333;
    color: white; /* Added for better text visibility */
}
.container {
    display: flex;
    height: 47vh;
    padding: 2px; /* Added padding to the container */
}

.widget-container {
    padding: 6px;/* Added padding to each widget container */
    
    border-radius: 5px; /* Optional: rounded corners */
    background-color: #333; /* Slightly transparent background */
}

nav {
    background-color: #333;
    padding: 10px; /* Added padding to the nav */
}
nav a {
    color: yellow;
    margin-right: 15px; /* Spacing between links */
    text-decoration: none; /* Remove underline */
}
.active{background-color: gold;}